[Unit]
Description=Graphios
Documentation=https://github.com/shawn-sterling/graphios
After=network.target local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/graphios.py
ExecStop=/usr/bin/kill -s TERM ${MAINPID}

[Install]
WantedBy=multi-user.target